@import '../../assets/scss/main.scss';

/* Header styles begin */
header{
    @include header($color-dark-l, 
                    $color-dark-3xl, 
                    $color-dark-m, 
                    $color-dark-3xl, 
                    $color-dark-3xl,
                    2);

    background-color: $color-light-xl;
    padding: 30px 40px;
    position: fixed;
    
    @media (max-width: 768px){
        padding: 30px 30px;
        width: 100%;
    }

    .header__logo{
        @media (min-width: 769px){
            margin-right: 571px;
        }
    }

}
/* Header styles end */

/* Pets styles begin */
.pets{
    background-color: $color-light-l;
    padding-top: 120px;

    .pets__content{
        padding: 80px 40px 80px;
        text-align: center;

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 80px 40px 56px;
        }

        .pets__title{
            @include font__h3($color-dark-l);
            margin-bottom: 60px;

            @media (max-width: 768px){
                margin-bottom: 30px;
            }
        }

        .pets__cards__container{
            display: grid;
            grid-template-columns: repeat(4, auto);
            grid-template-rows: repeat(2, auto);
            grid-column-gap: 40px;
            grid-row-gap: 30px;
            margin-bottom: 58px;
            
            @media (max-width: 768px) {
                max-width: 85%;
                grid-template-columns: repeat(auto-fill, 270px);
                margin-bottom: 23px;
            }

            .pets__hidden{
                @media (max-width: 768px){
                    display: none;
                }
            }
        }

        .pets__cards__nav{

            .pets__cards__nav__list{
                display: flex;
                justify-content: center;
                align-items: center;
                list-style-type: none;

                li{
                    margin-right: 20px;

                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
/* Pets styles end */