// Colors variables begin
$color-background-main : #1e1e1e;
$color-background-table : #e2a24c;
$color-background-menu : #252525;
$color-background-view : #efefef;
$color-background-lineNumber : #DDD;
$color-background-highlight : rgba(255, 255, 255, 0.07);
$color-background-task : rgba(255, 255, 255, 0.05);
$color-background-plate : rgba(255, 255, 255);
$color-background-bento : #A52A2A;
$color-background-pickle : #179837;
$color-background-for : #c5d6dd;
$color-background-hint : rgba(255, 255, 255, 0.7);
$color-background-apple : #e41919;
$color-background-before : rgba(255,255,255, 0.3);
$color-background-orange : #fc9303;
$color-background-blink : rgb(226, 162, 76, 0.7);
$color-background-burger : #ce743a;

$color-border-menu : #ce743a; 
$color-border-editor : #111111;
$color-border-editor-input : #333;
$color-border-mark : rgba(255, 255, 255);
$color-border-check-done : #45bb43;
$color-border-check-fail : #fc5656;
$color-border-task : rgba(255, 255, 255, 0.1);
$color-border-plate : #DDD;
$color-border-fancy : #009ff2;
$color-border-before : #CCC;
$color-border-bento : #711c12;
$color-border-bento-before : rgba(0, 0, 0, 0.1);
$color-border-pickle : #025a18;
$color-border-hint : #BBB;
$color-border-apple : #ab1212;
$color-border-orange : #bd6e07;
$color-border-button : #999;

$color-text-main : #ce743a;
$color-text-css : #AAA;
$color-text-line : #999;
$color-text-html : #666;
// Colors variables end

