@import '../../assets/scss/main.scss';

/* Header styles begin */
header{
    @include header($color-primary, 
                    $color-light-xl, 
                    $color-dark-s, 
                    $color-light-s, 
                    $color-light-s, 
                    1);

    position: relative;
    top: 60px;
    padding: 0 40px;
    z-index: 100;
}
/* Header styles end */

/* Hero styles begin  */
.hero{
    @include hero__gradient__background();
    position: relative;
    top: -60px;
    padding-top: 180px;

    @media (max-width: 768px){
        top: -90px;
    }

    .hero__wrapper{
        margin: 0 40px;
        display: flex;
        justify-content: space-between;
        align-items: center ;
        
        @media (max-width: 768px) {
            flex-direction: column;
        }

        .hero__content__wrapper{
            margin-bottom: 80px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            @media (max-width: 768px){
                margin-bottom: 105px;
            }

            .hero__title{
                @include font__h2($color-light-xl);
                margin-bottom: 40px;
            }

            .hero__content{
                @include font__paragraph_l($color-dark-s);
                margin-bottom: 40px;
                max-width: 460px;
            }
        } 

        .hero__image{
            @media (max-width: 768px){
                align-self: flex-end;
                max-width: 564px;
            }
            
            img{
                width: 100%;
            }
        }
    }
}
/* Hero styles end */

/* About styles begin */
.about{
    margin-bottom: 96px;

    .about__content__wrapper{
        display: flex;
        justify-content: center;

        .about__image{
            padding-top: 20px;
            margin-right: 120px;
        }

        .about__content{
            max-width: 430px;

            h3{
                @include font__h3($color-dark-l);
                padding-top: 35px;
            }

            p{
                @include font__paragraph_l($color-dark-xl);
            }

            & :nth-of-type(1){
                margin-bottom: 25px;
            }
        }
    }
}
/* About styles end */

/* Pets styles begin */
.pets{
    background-color: $color-light-l;
    text-align: center;

    .pets__content{
        padding: 80px 40px 100px;

        h3{
            @include font__h3($color-dark-xl);   
            margin-bottom: 60px;        
        }

        .pets__content__wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 60px;

            .pets__card__wrapper{
                display: flex;
                min-width: 82.4%;
                justify-content: space-between;
            }
        }
    }   
}
/* Pets styles end */

/* Help styles begin */
.help{
    text-align: center;
    background-color: $color-light-xl;

    .help__content__wrapper{
        display: flex;
        flex-direction: column;
        padding: 80px 0 40px;

        .help__title{
            @include font__h3($color-dark-l);
            margin-bottom: 60px;
        }

        .help__container{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .help__card:first-child{
                margin-left: 120px;

                @media (max-width: 768px){
                    margin-left: 0;
                }
            }            
        }
    }
}
/* Help styles end */

/* Donation styles begin */
.donation{
    background-color: $color-light-l;

    .donation__content__wrapper{
        padding: 82px 40px 101px;
        display: flex;
        justify-content: center;
        align-items: center;

        .donation__content__main__image{
            margin-right: 30px;
        }

        .donation__content{
            .donation__title{
                @include font__h3($color-dark-l);
                margin-bottom: 20px;
            }
    
            .donation__subtitle{
                @include font__h5($color-dark-l);
                margin-bottom: 20px;
            }
    
            .donation__information{
                max-width: 380px;
                @include font__donation__description($color-dark-m);
            }
        }
    }
}
/* Donation styles end */