@import "normalize.css";

// Colors variable begin
$color-light-xl: #FFFFFF;
$color-light-l: #F6F6F6;
$color-light-s: #FAFAFA;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
// Color variable end

// Background styles begin
$start-screen-gradient-background: #211F20;
@mixin start_screen_gradient_background(){
    background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}
$footer-gradient-background: #211F20;
// Background styles end

// Fonts family begin
@mixin font__family__Georgia(){
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
}

@mixin font__family__Arial(){
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
}

@mixin font__family__Arial__italic(){
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: normal;  
}

@mixin font__h2(){
    @include font__family__Georgia();
    font-size: 44px;
    line-height: 130%;
    color: $color-dark-xl;
}

@mixin font__h3(){
    @include font__family__Georgia();
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $color-dark-xl;
}

@mixin font__h3_mobile(){
    @include font__family__Georgia();
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $color-dark-xl;
}

@mixin font__h4(){
    @include font__family__Georgia();
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: $color-dark-xl;
}

@mixin font__h5(){
    @include font__family__Georgia();
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: $color-dark-xl;
}

@mixin font__paragraph_l(){
    @include font__family__Arial();
    font-size: 15px;
    line-height: 160%;
    color: $color-dark-s;
}

@mixin font__paragraph_s(){
    @include font__family__Arial__italic();
    font-size: 12px;
    line-height: 150%;
    color: $color-dark-xl;
}

@mixin font__logo_title(){
    @include font__family__Georgia();
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: $color-primary;
}

@mixin font__logo_subtitle(){
    @include font__family__Arial();
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: $color-light-xl;
}

@mixin font__button(){
    @include font__family__Georgia();
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $color-dark-3xl;
}

@mixin font__pets__card__title(){
    @include font__family__Georgia();
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: $color-dark-l;
}

@mixin font__donation__description(){
    @include font__family__Arial();
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    color: $color-dark-m;
}
// Fonts family end

// Cursors styles begin
@mixin cursor__normal(){
    cursor: url(../../assets/images/cursor_normal.png), auto;
}

@mixin cursor__hover(){
    cursor: url(../../assets/images/cursor_hover.png), auto;
}
// Cursors styles end

// Buttons style begin 
.button__primary:link, .button__primary:visited{
    @include font__button();
    text-decoration: none;
    text-align: center;
    display: inline-block;
    background: $color-primary;
    border-radius: 100px;
    padding: 15px 45px;
}

.button__primary:hover, .button__primary:active{
    @include cursor__hover();
    background-color: $color-primary-light;
}

.button_secondary:link, .button_secondary:visited{
    @include font__button();
    text-decoration: none;
    text-align: center;
    display: inline-block;
    border: 2px solid $color-primary;
    border-radius: 100px;
    padding: 13px 43px;
}

.button_secondary:hover, .button_secondary:active{
    @include cursor__hover();
    background-color: $color-primary-light;
    border: 2px solid $color-primary-light;
}

.button__arrow:link, .button__arrow:visited{
    display: inline-block;
    width: 52px;
    height: 52px;
    border: 2px solid $color-primary;
    border-radius: 100%;
}

.button__arrow:hover, .button__arrow:visited{
    @include cursor__hover();
    background-color: $color-primary-light;
    border: 2px solid $color-primary-light;
}

.button__arrow__left{
    background: url("../../assets/icons/left-arrow.svg") center no-repeat;
}

.button__arrow__right{
    background: url("../../assets/icons/right-arrow.svg") center no-repeat;
}
// Buttons style end 

body{
    @include cursor__normal();
    width: 1280px;
    margin: auto;
}

/* Header styles begin */
header{
    position: relative;
    top: 60px;
    padding: 0 40px;
    z-index: 100;

    .header__nav{
        display: flex;
        justify-content: space-between;
    
        .header__logo{    
            display: flex;
            flex-direction: column;
            align-items: center;

            .header__logo__title{
                @include font__logo_title();
                margin-bottom: 10px;
            }
    
            .header__logo__subtitle{
                @include font__logo_subtitle();
            }
        }
    
        .header__list{
            list-style-type: none;
            margin: 0;
            padding: 0;
    
            display: flex;        
            justify-content: center;
            align-items: center;
    
            li{
                margin: 0 36px 0 0;
                
                &:last-child{
                    margin-right: 0;                
                }
         
                a{
                    @include font__paragraph_l();    
                    text-decoration: none;
                    padding-bottom: 3px;            
                }

                & a:hover{
                    @include cursor__hover();
                    color: $color-light-s;
                    border-bottom: 3px solid $color-primary;
                }

                &:first-child a{
                    color: $color-light-s;
                    border-bottom: 3px solid $color-primary;                
                }
            }
        }
    
        .invisible__title{
            display: none;
        }
    }
    
}
/* Header styles end */

/* Hero styles begin  */
.hero{
    @include start_screen_gradient_background();
    width: 100%;
    position: relative;
    top: -60px;
    padding-top: 180px;

    .hero__wrapper{
        margin: 0 40px 0 40px;
        display: flex;
        justify-content: space-between;
        align-items: center ;

        .hero__content__wrapper{
            padding-bottom: 117px;
            width: 460px;
   
            .hero__title{
                width: 310px;
                margin-bottom: 42px;
                @include font__h2();
                color: $color-light-xl;
            }

            .hero__content{
                margin-bottom: 42px;
                @include font__paragraph_l();
            }
        } 
    }
}
/* Hero styles end */

/* About styles begin */
.about{
    position: relative;
    top: -60px;
    padding: 60px 0;
    background-color: $color-light-xl;

    .about__content__wrapper{
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;

        .about__image{
            padding-top: 20px;
            margin-right: 120px;
        }

        .about__content{
            width: 430px;

            h3{
                @include font__h3();
                color: $color-dark-l;
                margin-bottom: 20px;
            }
            p{
                @include font__paragraph_l();
                color: $color-dark-xl;
            }
            & :nth-of-type(1){
                margin-bottom: 24px;
            }
        }
    }
}
/* About styles end */

/* Pets styles begin */
.pets{
    position: relative;
    top: -25px;
    padding: 47px 0 69px;
    background-color: $color-light-l;
    text-align: center;

    .pets__content{
        padding: 0 40px;

        h3{
            @include font__h3();   
            margin-bottom: 60px;        
        }

        .button__primary{
            margin-bottom: 30px;
        }

        .pets__content__wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 60px;
            
            div{
                background-color: $color-light-s;
                border-radius: 9px;

                img{
                    margin-bottom: 27px;
                }

                p{
                    @include font__pets__card__title();
                    margin-bottom: 30px;
                }

                .button_secondary{
                    margin-bottom: 30px;
                }
            } 

            div:hover{
                @include cursor__hover();
            }

            div:not(:last-child):not(:first-child)
            {
                margin: 0 37px;
            }
        }
    }   
}
/* Pets styles end */

/* Help styles begin */
.help{
    text-align: center;
    background-color: $color-light-xl;
    margin-bottom: 46px;

    .help__content__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .help__title{
        margin-block-start: 55px;
        @include font__h3();
        color: $color-dark-l;
        margin-bottom: 60px;
    }

    .help__container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 1029px;
    
        img{
            margin-bottom: 25px;
            width: 60px;
            height: 60px;
        }

        p{
            @include font__h4();
            color: $color-dark-l;
        }

        div{
            margin-right: 120px;
            margin-bottom: 55px;
        }

        div:nth-child(5), div:last-child{
            margin-right: 0;
        }
    }
}
/* Help styles end */

/* Donation styles begin */
.donation{
    background-color: $color-light-l;

    .donation__content__wrapper{
        padding: 82px 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        .donation__content__main__image{
            margin-right: 30px;
        }

        .donation__content{
            width: 380px;
            text-align: left;

            *{
                margin-block-start: 0;
                margin-block-end: 0;
            }

            .donation__title{
                @include font__h3();
                color: $color-dark-l;
                margin-bottom: 20px;
            }
    
            .donation__subtitle{
                @include font__h5();
                color: $color-dark-l;
                margin-bottom: 20px;
            }

            .donation__credit__card{
                background-color: $color-primary;
                border-radius: 9px;
                padding: 10px 15px;
                display: inline-flex;
                margin-bottom: 20px;

                p{
                    @include font__h4();
                    color: $color-dark-l;
                }

                img{
                    margin-right: 15px;
                }
            }
    
            .donation__information{
                @include font__donation__description();
            }
        }
    

    }
}
/* Donation styles end */