@import 'assets/scss/main.scss';

.weather{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 10%;
    padding: 3rem 0 0 3rem;

    .weather__wrapper{
        min-width: 150px;
        text-align: center;

        .icon-temp__wrapper{
            display: flex;
            justify-content: space-evenly;
        }
    }

    .city{
        min-width: 100px;
      }
}

.timer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 70%;

    .time {
        font-size: 8rem;
    }

    .date{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .greeting, .name{
        display: inline-block;
    }

    h1{
        font-size: 3rem;
    }
}

@media (max-width: 700px) {
    .time {
      font-size: 6rem;
    }
    .date{
      font-size: 4rem;
    }
}

.quote{
    height: 20%; 
    padding: 0 3rem 3rem;

    .quote__wrapper{
        display: flex;
        justify-content: flex-end;

        .quote-text{
            min-width: 80%;
            max-width: 80%;
            blockquote {
                  margin: 1em;
            }
    
            figcaption {
                margin: 1em;
                text-align: right;
            }

        .refreshQuote{
            width: 20%;
            }
        }
    }     
}