.pets__card{
    background-color: $color-light-s;
    border-radius: 9px;
    text-align: center;

    img{
        margin-bottom: 26px;
    }

    p{
        @include font__pets__card__title($color-dark-l);
        margin-bottom: 30px;
    }

    .button_secondary{
        margin-bottom: 30px;
    }

    &:hover{
        @include cursor__hover();
        box-shadow: 0 0 5px 2px $color-dark-3xl;
    }
}

.pets__card-hidden{
    @media (max-width: 1000px){
        display: none;
    }
}

.pets__card-hidden-320{
    @media (max-width: 500px){
        display: none;
    }
}