@import 'assets/scss/main.scss';

.main-wrapper{
    display:flex;
    flex-direction: row;
    color: #ce743a;
}

.game{
    width: 65%;
    height: 100vh;
    text-align: center;
    background-color: #1e1e1e;

    .header{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 0 0;

        .header__logo{
            width: 64px;
            height: 64px;
            background: url("./assets/svg/file_type_css_icon_130661.svg");
            margin: 0 40px 0 20px;
        }
    }

    .game__task{
        font-size: 35px;
        font-family: "Exo 2", "Lato", "Helvetica Neue", sans-serif;
    }

    .table-wrapper{
        perspective: 400px;
        display: inline-block;

        .table{
            position: relative;
            min-height: 150px;
            max-width: 700px;
            margin: 0 auto;
            transform: rotateX(20deg);
            transform-origin: bottom;
            background-color: #e2a24c;
            padding: 15px;
        }

        .table__edge{
            position: relative;
            z-index: -1;
            min-height: 20px;
            max-width: 700px;
            margin: 0 auto;
            transform: rotateX(-40deg);
            transform-origin: top;
            background-color: #af7222;
            transform-origin: top;

            .table__leg{
                height: 20px;
                width: 25px;
                background-color: #af7222;
                position: absolute;
                top: 15px;

                &:first-child{
                    left: 15px;
                }

                &:last-child{
                    right: 15px;
                }
            }
        }

        .win-screen{
            display: none;
            justify-content: center;
            align-items: center;
            width: 600px;
            height: 250px;
            background-color: #252525;
            position: absolute;
            color: #ce743a;
            top: -75px;
            left: -170px;
            box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.1);
            border: solid 2px #ce743a;   
            
            h3{
                font-family: "Exo 2", "Lato", "Helvetica Neue", sans-serif;
                font-size: 20px;
            }
        }

        .win-screen_display-block{
            display: flex;
        }
    }

    .editor{
        display: flex;
        text-align: left;
        width: 90%;
        margin: 30px auto;
        border: solid 10px #111111;
        border-radius: 4px;
        font-family: menlo, monospace;
        font-size: 14px;
        line-height: 150%;

        .editor-pane{
            width: 50%;
            
            .editor-pane__input-header{
                padding: 10px 15px;
                border: solid 1px #333;

                .editor-pane__file-name{
                    float: right;
                }
            }

            .file-window{
                display: flex;

                .line-numbers{
                    padding: 10px 10px;
                    height: 100%;
                    line-height: 150%;
                    text-align: right;
                }

                .code-area{
                    padding: 10px 10px;
                    width: 100%;

                    .input{
                        display: flex;
                        justify-content: space-between;
                        
                        .input-css{
                            background: #efefef;
                            border: none;
                            padding: 0;

                            background-color: rgb(226, 162, 76, 0.7);;
                            animation: blink 1s infinite;
                              
                            @keyframes blink {
                                50% { 
                                    background:none ; 
                                }
                            }
                                  
                            &:focus{
                                outline: none;
                            }
                        }

                        .button-enter{
                            background: #ddd;
                            display: block;
                            border-radius: 4px;
                            padding: 0 7px;
                            color: #666;
                            border: solid 3px #999;
                            border-width: 1px 1px 6px 1px;
                            margin: -6px 0 0;
                            font-size: 9px;
                            cursor: pointer;
                        }
                    }

                }
                
            }

            .css-view{
                background: #efefef;
                color: #AAA;

                .line-numbers{
                    color: #999;
                    background: #DDD;
                }
            }

            .html-view{
                color: #666;
                border-right: solid 1px #333;
                cursor: default;

                .line-numbers{
                    border-right: solid 1px #333;
                }
            }
        }
    }

    .tremble {
        animation: tremble 0.1s 5;
    }
      
    @keyframes tremble {
    0%   { transform: translateX(0); }
    25% {  transform: translateX(-5px); }
    50% {  transform: translateX(0); }
    75% {  transform: translateX(5px); }
    }

    .footer{
        width: 100%;
        margin-top: 25px;
        color: #ce743a;
        display: flex;
        justify-content: center;

        .logo-rsSchool{
            width: 100px;
            height: 50px;
            background: url('./assets/svg/rs_school_js.svg') no-repeat;
        }

        .logo-github{
            width: 100px;
            height: 50px;
            background: url('./assets/svg/Octocat.svg') no-repeat;
            background-size: contain;

        }
    }
}

.menu{
    width: 35%;
    height: 100vh;
    background-color: #252525;

    .levels-wrapper{
        position: fixed;
        width: 35%;
        background-color: #252525;
        height: 100vh;
        right: -4000px;
        transition: right 0.5s;
        z-index: 2;

        .levels__title{
            margin-left: 20px;
        }

        .levels{
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;
    
            a{
                text-decoration: none;
                color: #ce743a;
                display: block;
                cursor: pointer;
                padding: 10px 0 10px 20px;
                opacity: 0.6;
    
                .check-mark{
                    display: inline-block;
                    margin-right: 15px;
                    width: 8px;
                    height: 13px;
                    border: solid 3px white;
                    border-width: 0 3px 3px 0;
                    opacity: 0.2;
                    top: -1px;
                    transform: rotate(40deg);
                }
    
                .level-number{
                    display: inline-block;
                    min-width: 25px;                
                }

                .mark-green{
                    opacity: 0.55;
                    border: solid 3px #45bb43;
                    border-width: 0 3px 3px 0;
                }

                .mark-red{
                    opacity: 1;
                    border: solid 3px #fc5656;
                    border-width: 0 3px 3px 0;
                }
            }

            .current{
                font-weight: bold;
                background: rgba(255,255,255,.07);
                opacity: 1;
            }
        }
    }

    .task-wrapper {
        position: fixed;
        padding: 10px;
        width: 30%;
        background-color: #252525;
        height: 100vh;
        z-index: 1;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .task{
            font-family: "Exo 2", "Lato", "Helvetica Neue", sans-serif;

            .task__level{
                margin-bottom: 45px;
            }

            .task__name{
                font-size: 18px;
                margin: 0 0 10px 0;
            }

            .task__description{
                font-size: 18px;
                margin: 0 0 15px 0;
                font-weight: 300;
                opacity: 0.7;
            }

            .task__syntax{
                font-size: 24px;
                margin: 0 0 20px 0;
                font-weight: 200;
                opacity: 0.8;
                background: rgba(255,255,255,.05);
                display: inline-block;
                padding: 5px 8px;
                border-bottom: solid 2px rgba(255,255,255,.1);
            }

            .task__hint{
                font-size: 15px;
                margin-bottom: 50px;
                line-height: 150%;
            }

            .example{
                padding: 10px 0 12px 0;
                line-height: 170%;
                border-bottom: solid 1px rgba(255,255,255,.1);
                
                &:last-child{
                    border: none;
                }
            }
            
            strong, tag{
                background: rgba(255,255,255,.1);
                padding: 3px 6px 3px 6px;
                margin: 0px 2px;
                font-size: 13px;
                font-family: menlo,monospace;
                font-weight: normal;
            }

            tag:before {
                content: "<";
            }

            tag:after {
                content: ">";
            }
        }
    }
}

.button-main{
    display: block;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    border: solid 2px #ce743a;
    opacity: 0.7;
    width: 90%;
    color: #ce743a;
    padding: 10px 0;
    cursor: pointer;
}

.button-small{
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    border: solid 2px #ce743a;
    opacity: 0.7;
    width: 10%;
    color: #ce743a;
    padding: 10px 0;
    cursor: pointer;
    position: absolute;
    top: 79%;
    left: 88%;
    font-family: "Exo 2", "Lato", "Helvetica Neue", sans-serif;
}

.plate{
    position: relative;
    background: white;
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 0 10px;
    border-radius: 100px;
    border-bottom: solid 5px #DDD;
    box-shadow: 0px 8px 0px rgba(0,0,0,.1);
    transition: transform ease-out 0.5s;
    
    &:before {
        content: "";
        display: block;
        position: absolute;
        left: calc(50% - 32px);
        top: calc(50% - 32px);
        height: 65px;
        width: 65px;
        border-radius: 60px;
        border-top: solid 6px #CCC;
        opacity: 0.4;
        background: rgba(255,255,255,1);
    }

    & .plate{
        top: -20px;
    }
}

.bento{
    position: relative;
    display: inline-block;

    background: brown;
    border: solid 3px #711c12;
    border-width: 2px 2px;
    box-shadow: 0px 8px 0px rgba(0,0,0,0.1);

    height: 100px;
    width: 100px;
    margin: 0 10px;

    &::before {
        content: "";
        position: absolute;
        width: calc(100%);
        top: 0;
        left: 0;
        border: solid 10px rgba(0,0,0,0.1);
        border-width: 10px 0 0 0px;
    }

    & .plate{
        margin: 0;
    }
}

.pickle{
    position: relative;
    z-index: 9;
    display: inline-block;
    width: 25px;
    height: 60px;

    border-radius: 30px;
    border: solid 2px #025a18;
    border-width: 2px 2px 9px 2px;
    box-shadow: 0px 5px 0px rgba(0,0,0,0.2);
    background: #179837;
    margin: 20px 10px;
}

.for{
    font-family: "Satisfy", sans-serif;
    position: absolute;
    bottom: -14px;
    width: 80px;
    color: #ce743a;
    font-size: 22px;
    box-shadow: -3px 6px 0 rgba(0,0,0,0.2);
    z-index: 0;
    padding: 30px 0 2px 0;
    background-color: #c5d6dd;
    transform: rotate(-8deg);
}

.hint{
    position: absolute;
    z-index: 100;
    top: -60px;
    left: 15px;
    display: none;
    transform: scale(1.3);

    background: rgba(255, 255, 255, 0.7);
    border-bottom: solid 2px #BBB;
    border-radius: 10%;
    box-shadow: 0px 5px 0px rgba(0,0,0,0.2);
    padding: 10px 15px 12px 15px;

    font-size: 18px;
    font-family: menlo, monospace;
    word-wrap: nowrap;
    white-space: nowrap;    
}

.hint-display-block{
    display: block;
}

.html-view-highlight{
    color:#ce743a;
}

.element_shadow{
    box-shadow: 0 0 0 6px rgba(175, 114, 34, 0.5) !important;
}

.apple{
    position: relative;
    z-index: 9;
    display: inline-block;

    border-radius: 100px;
    border-style: solid;
    border-width: 2px 4px 15px 4px;
    background: #e41919;
    border-color: #ab1212;
    height: 60px;
    width: 60px;
    margin: 20px 10px;
    box-shadow: 0px 5px 0px rgba(0,0,0,0.2);

    &::before{
        content: "";
        display: block;
        position: absolute;
        background: rgba(255,255,255,.3);
        height: 30%;
        width: 30%;
        top: 0px;
        left: calc(50% - 15%);
        border-radius: 100px;
    }
}

.orange{
    position: relative;
    z-index: 9;
    display: inline-block;

    border-radius: 100px;
    border-style: solid;
    border-width: 2px 4px 15px 4px;
    background: orange;
    border-color: #bd6e07;
    height: 60px;
    width: 60px;
    margin: 20px 10px;
    box-shadow: 0px 5px 0px rgba(0,0,0,0.2);

    &::before{
        content: "";
        display: block;
        position: absolute;
        background: rgba(255,255,255,.3);
        height: 30%;
        width: 30%;
        top: 0px;
        left: calc(50% - 15%);
        border-radius: 100px;
    }
}

.small{
    border-width: 2px 4px 8px 4px;
    height: 30px;
    width: 30px;
    margin: 35px 10px;
}

.fancy:after{
    content: "";
    display: block;
    position: absolute;
    left: calc(50% - 47px);
    top: calc(50% - 44px);
    height: 90px;
    width: 95px;
    border-radius: 60px;
    border: solid 10px #009ff2;
    opacity: 0.4;
}

.burger-checkbox-hidden{
    display: none;

    &:checked ~ .levels-wrapper {
        right: 0;
    }
    
    &:checked ~ .burger-menu span.first {
        transform: rotate(-45deg);
        top: 10px;
    }
    
    &:checked ~ .burger-menu span.second {
        opacity: 0;
    }
    
    &:checked ~ .burger-menu span.third {
        transform: rotate(45deg);
        top: -10px;
    }
}

.burger-menu {
    background-color: #252525;
    padding: 5px;
    position: fixed;
    right: 30px;
    top: 15px;
    cursor: pointer;
    transition: left .23s;
    z-index: 3;
    width: 35px;
    transform: translateZ(0);
    backface-visibility: hidden;

    span {
        display: block;
        height: 5px;
        background-color: #ce743a;
        margin: 5px 0 0;
        transition: all .1s linear .23s;
        position: relative;

        .first {
            margin-top: 0;
        }
    }
}

.element_dancer {
    transform-origin: bottom;
    animation: dancer 1.5s infinite;
}

@keyframes dancer {
    0%      { transform:    skew(4deg,0deg) scaleX(1);}
    10%     { transform:    skew(1deg,0deg) scaleY(0.9);}
    50%     { transform:    skew(-4deg,0deg) scaleX(1);}
    60%     { transform:    skew(-1deg,0deg) scaleY(0.9);}
    100%    { transform:    skew(4deg,0deg) scaleX(1);}
}

.element_takeoff{
    animation: takeoff 1s;
}

@keyframes takeoff{
    100% {transform: translateY(-100vh);}
}