/* Footer styles begin */
footer{
    @include footer__gradient__background();
    padding: 40px 40px 0;

    @media (max-width: 768px){
        padding: 15px 35px 0;
    }
    
    .footer__content__wrapper{
        display: flex;
        //justify-content: space-between;
        justify-content: space-around;
        flex-wrap: wrap;

        .footer__contact{
            margin-top: 17px;

            .footer__title{
                margin-bottom: 42px;
            }
            div{
                &:nth-child(2){
                    margin-bottom: 39px;  
                }
            }
        }

        .footer__location{
            margin: 17px 8px 0 0;

            .footer__title{
                margin-bottom: 33px;
            }
            div{
                &:nth-child(2){
                    margin-bottom: 31px;  
                }
            }
        }

        .footer__image{
            @media (max-width: 768px){
                padding-top: 60px;
            }
        }
    }
}
/* Footer styles end */