/* Footer styles begin */
footer{
    @include footer__gradient__background();
    padding: 40px 40px 0;
    
    .footer__content__wrapper{
        display: flex;
        justify-content: space-between;

        .footer__information{
            display: flex;
            flex-direction: column;

            .footer__title{
                @include font__h3();
                color: $color-light-xl;
                display: inline-flex;
            }

            div{
                display: inline-flex;
                align-items: center;

                p{
                    @include font__h4();
                    color: $color-primary;
                } 

                .footer__icon{
                    margin-right: 20px;
                }

                a:hover{
                    @include cursor__hover();
                }
            }
        }

        .footer__contact{
            .footer__title{
                margin: 18px 0 40px;
            }
            div{
                &:nth-child(2){
                    margin-bottom: 39px;  
                }
            }
        }

        .footer__location{
            padding-right: 8px;

            .footer__title{
                margin: 17px 0 33px;
            }
            div{
                &:nth-child(2){
                margin-bottom: 31px;  
                }
            }
        }

    }
}
/* Footer styles end */