/* Header styles begin */
header{
    position: relative;
    top: 60px;
    padding: 0 40px;
    z-index: 100;

    .header__nav{
        display: flex;
        justify-content: space-between;
    
        .header__logo{    
            display: flex;
            flex-direction: column;
            align-items: center;

            .header__logo__title{
                @include font__logo_title();
                margin-bottom: 10px;
            }
    
            .header__logo__subtitle{
                @include font__logo_subtitle();
            }
        }
    
        .header__list{
            list-style-type: none;
            margin: 0;
            padding: 0;
    
            display: flex;        
            justify-content: center;
            align-items: center;
    
            li{
                margin: 0 36px 0 0;
                
                &:last-child{
                    margin-right: 0;                
                }
         
                a{
                    @include font__paragraph_l();    
                    text-decoration: none;
                    padding-bottom: 3px;            
                }

                & a:hover{
                    @include cursor__hover();
                    color: $color-light-s;
                    border-bottom: 3px solid $color-primary;
                }

                &:first-child a{
                    color: $color-light-s;
                    border-bottom: 3px solid $color-primary;                
                }
            }
        }
    
        .invisible__title{
            display: none;
        }
    }
    
}
/* Header styles end */